* {
  box-sizing: border-box;
}
/* Getting secondary font */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

header {
  width: 50vw;
  margin: 0 0 2em 1em;
}

h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 22px;
}
table {
  display: grid;
  border-collapse: collapse;
  margin: 0 auto;
}


td {
  padding: 0 0 0 45px;
  /* margin: 0 0 0 20px; */
  width: 150px;
  height: 150px;
  font-size: 100px;
}

tr {
  font-family: 'Permanent Marker', cursive;
}

section {
  width: 700px;
  margin: 0 auto;
}

.buttons {
  width: 220px;
  margin: 0 auto;
  padding: 1em 0 0 3em;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
}

button {
  margin: 0 42px;
  padding: 1em 1.5em;
  border: solid 2px black;
  border-radius: 32px;
  background-color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
}

.top {
  border-bottom: 4px solid black;
  border-radius: 3px;
}

.bottom {
  border-top: 4px solid black;
  border-radius: 3px;
}


.left {
  border-right: 5px solid black;
 
}
.right{
  border-left: 5px solid black;
}

/* On screens that are wider than 900px, shift button display to side */
@media screen and (min-width: 768px) {
  .split {
    display: inline-block;
    margin: 0 auto;
  }

  .buttons {
    height: 200px;
    position: absolute;
  }
}

